<div class="card">
      
    <div class="card-header">
                Experience
    </div>
              <div class="card-body">
                  <div *ngFor="let experience of experiences">
                        <div class="card">
                                <div class="card-header">
                                  {{experience.position}}  
                                
                                </div>
                                <div class="card-body">
                                  
                                  <p class="card-text">{{experience.institute}} {{experience.address}}</p>
                                  <p class="card-text">{{experience.startdate}}-
                                    <span *ngIf="experience.enddate">
                                    {{experience.enddate}} 
                                    </span>
                                    <span *ngIf="!experience.enddate">
                                      ...
                                    </span>

                                    {{experience.enddate}}  </p>
                                    <a href="{{experience.website}}" class="btn btn-primary"> Website</a>
                                </div>
                              </div>
                     </div>
              </div>
   
  </div>